// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Black
$green-primary-color: #e3f3c4;
$black-primary-color: black;
$black-secondary-color: #5e5e5e;
$white-primary-color: white;

//Palette Yellow
$yellow-primary-color: #fbfae4;

