.footer {
  grid-area: footer;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: $green-primary-color;

  &__link {
    color: inherit;
    font-weight: bold;
  }
}
